
#NET DATA_TEST(0) LOC = "U18" | IOSTANDARD=LVCMOS33;
#NET DATA_TEST(1) LOC = "M14" | IOSTANDARD=LVCMOS33;
#NET DATA_TEST(2) LOC = "N14" | IOSTANDARD=LVCMOS33;
#NET DATA_TEST(3) LOC = "L14" | IOSTANDARD=LVCMOS33;
#NET DATA_TEST(4) LOC = "M13" | IOSTANDARD=LVCMOS33;
#NET DATA_TEST(5) LOC = "D4"  | IOSTANDARD=LVCMOS33;
#NET DATA_TEST(6) LOC = "P16" | IOSTANDARD=LVCMOS33;
#NET DATA_TEST(7) LOC = "N12" | IOSTANDARD=LVCMOS33;

NET SPI_SCK LOC = "D4"  | IOSTANDARD=LVCMOS33;
NET SPI_SDA LOC = "P16" | IOSTANDARD=LVCMOS33;
NET SPI_SEN LOC = "N12" | IOSTANDARD=LVCMOS33;

NET DEBUG_PIN LOC = "N5" | IOSTANDARD=LVCMOS33;

NET CLOCK LOC = "L15" | IOSTANDARD=LVCMOS33;
NET RESET LOC = "F5" | IOSTANDARD=LVCMOS33;

NET RX LOC=A16  |  IOSTANDARD=LVCMOS33;
NET TX LOC=B16  |  IOSTANDARD=LVCMOS33;

#NET "RESET" CLOCK_DEDICATED_ROUTE = FALSE;

#NET CLOCK TNM_NET = sys_clk_pin;
#TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
#NET CLOCK LOC = "L15" | IOSTANDARD=LVCMOS33;

