//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 09 13:03:46 2016
//! **************************************************************************

SCHEMATIC START;
COMP "RX" LOCATE = SITE "A16" LEVEL 1;
COMP "TX" LOCATE = SITE "B16" LEVEL 1;
COMP "SPI_SDA" LOCATE = SITE "P16" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "D4" LEVEL 1;
COMP "SPI_SEN" LOCATE = SITE "N12" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "L15" LEVEL 1;
COMP "RESET" LOCATE = SITE "F5" LEVEL 1;
COMP "DEBUG_PIN" LOCATE = SITE "N5" LEVEL 1;
SCHEMATIC END;

