//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 09 13:31:35 2016
//! **************************************************************************

SCHEMATIC START;
COMP "d_count_en" LOCATE = SITE "U16" LEVEL 1;
COMP "d_count_lsb_clk" LOCATE = SITE "R11" LEVEL 1;
COMP "d_shr" LOCATE = SITE "P11" LEVEL 1;
COMP "d_shs" LOCATE = SITE "N10" LEVEL 1;
COMP "d_comp_bias_sh" LOCATE = SITE "U11" LEVEL 1;
COMP "d_count_inc_one" LOCATE = SITE "V13" LEVEL 1;
COMP "d_count_jc_shift_en" LOCATE = SITE "M11" LEVEL 1;
COMP "d_adr" LOCATE = SITE "N9" LEVEL 1;
COMP "d_ads" LOCATE = SITE "M10" LEVEL 1;
COMP "d_ref_vref_clamp_en" LOCATE = SITE "V10" LEVEL 1;
COMP "d_ref_vref_ramp_rst" LOCATE = SITE "T10" LEVEL 1;
COMP "d_ref_vref_sh" LOCATE = SITE "U10" LEVEL 1;
COMP "d_count_lsb_en" LOCATE = SITE "N11" LEVEL 1;
COMP "d_ref_vref_ramp_ota_dyn_pon" LOCATE = SITE "R8" LEVEL 1;
COMP "d_comp_dyn_pon" LOCATE = SITE "V11" LEVEL 1;
COMP "d_digif_serial_rst" LOCATE = SITE "R10" LEVEL 1;
COMP "d_count_hold" LOCATE = SITE "V15" LEVEL 1;
COMP "d_adc_shr_shs" LOCATE = SITE "T12" LEVEL 1;
COMP "d_count_updn" LOCATE = SITE "U13" LEVEL 1;
COMP "d_count_inv_clk" LOCATE = SITE "U15" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "L15" LEVEL 1;
COMP "d_count_rst" LOCATE = SITE "V16" LEVEL 1;
COMP "d_count_mem_wr" LOCATE = SITE "T11" LEVEL 1;
COMP "RESET" LOCATE = SITE "F5" LEVEL 1;
SCHEMATIC END;

