# Pins location
NET "clock"			IOSTANDARD = LVCMOS33		 | LOC = W12;
TIMESPEC TS_pin_clock = PERIOD "clock" 10 ns HIGH 50 %;

NET "reset_from_slide" 		IOSTANDARD = LVCMOS33 		 | LOC = G22; #AA1;
NET "reset_from_slide" CLOCK_DEDICATED_ROUTE = FALSE; 

NET "clock100_out" 		IOSTANDARD = LVCMOS33		 | LOC = Y12;


NET "slide_select_mode[0]" 	IOSTANDARD = LVCMOS33 		 | LOC = R19;
NET "slide_select_mode[1]"  	IOSTANDARD = LVCMOS33 		 | LOC = H22;
NET "slide_select_mode[2]"  	IOSTANDARD = LVCMOS33 		 | LOC = F22;

NET "led_buffer_empty_show" 	IOSTANDARD = LVCMOS33 		 | LOC = A2;

NET "data[0]"			LOC = AB21 | IOSTANDARD = LVCMOS33;
NET "data[1]"			LOC = U14  | IOSTANDARD = LVCMOS33;
NET "data[2]"			LOC = U13  | IOSTANDARD = LVCMOS33;
NET "data[3]"			LOC = AA6  | IOSTANDARD = LVCMOS33;
NET "data[4]"			LOC = AB6  | IOSTANDARD = LVCMOS33;
NET "data[5]"			LOC = W4   | IOSTANDARD = LVCMOS33;
NET "data[6]"			LOC = Y4   | IOSTANDARD = LVCMOS33;
NET "data[7]"			LOC = Y7   | IOSTANDARD = LVCMOS33;
NET "data[8]"			LOC = AA2  | IOSTANDARD = LVCMOS33;
NET "data[9]"			LOC = AB2  | IOSTANDARD = LVCMOS33;
NET "data[10]"			LOC = V15  | IOSTANDARD = LVCMOS33;
NET "data[11]"			LOC = AA18 | IOSTANDARD = LVCMOS33;
NET "data[12]"			LOC = AB18 | IOSTANDARD = LVCMOS33;
NET "data[13]"			LOC = Y13  | IOSTANDARD = LVCMOS33;
NET "data[14]"			LOC = AA12 | IOSTANDARD = LVCMOS33;
NET "data[15]"			LOC = AB12 | IOSTANDARD = LVCMOS33;

NET "flaga"			LOC = AA8  | IOSTANDARD = LVCMOS33;
NET "flagb"			LOC = AA14 | IOSTANDARD = LVCMOS33;

NET "pktend"			LOC = AB8  | IOSTANDARD = LVCMOS33;
NET "slcs"			LOC = AB3  | IOSTANDARD = LVCMOS33;
NET "slwr"			LOC = Y3   | IOSTANDARD = LVCMOS33;
NET "slrd"			LOC = AB9  | IOSTANDARD = LVCMOS33;
NET "sloe"			LOC = AB4  | IOSTANDARD = LVCMOS33;

NET "address[0]"		LOC = Y19  | IOSTANDARD = LVCMOS33;
NET "address[1]"		LOC = Y9   | IOSTANDARD = LVCMOS33;

