//! **************************************************************************
// Written by: Map P.58f on Tue Oct 04 11:30:36 2016
//! **************************************************************************

SCHEMATIC START;
COMP "reset_from_slide" LOCATE = SITE "G22" LEVEL 1;
PIN reset_from_slide_pin<0> = BEL "reset_from_slide" PINNAME PAD;
PIN "reset_from_slide_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "address<0>" LOCATE = SITE "Y19" LEVEL 1;
COMP "address<1>" LOCATE = SITE "Y9" LEVEL 1;
COMP "slcs" LOCATE = SITE "AB3" LEVEL 1;
COMP "slide_select_mode<0>" LOCATE = SITE "R19" LEVEL 1;
COMP "flaga" LOCATE = SITE "AA8" LEVEL 1;
COMP "slide_select_mode<1>" LOCATE = SITE "H22" LEVEL 1;
COMP "flagb" LOCATE = SITE "AA14" LEVEL 1;
COMP "slide_select_mode<2>" LOCATE = SITE "F22" LEVEL 1;
COMP "sloe" LOCATE = SITE "AB4" LEVEL 1;
COMP "slrd" LOCATE = SITE "AB9" LEVEL 1;
COMP "clock" LOCATE = SITE "W12" LEVEL 1;
COMP "pktend" LOCATE = SITE "AB8" LEVEL 1;
COMP "led_buffer_empty_show" LOCATE = SITE "A2" LEVEL 1;
COMP "slwr" LOCATE = SITE "Y3" LEVEL 1;
COMP "clock100_out" LOCATE = SITE "Y12" LEVEL 1;
SCHEMATIC END;

