//! **************************************************************************
// Written by: Map P.58f on Thu Oct 06 12:01:21 2016
//! **************************************************************************

SCHEMATIC START;
COMP "RX" LOCATE = SITE "E22" LEVEL 1;
COMP "TX" LOCATE = SITE "G22" LEVEL 1;
COMP "SPI_SDA" LOCATE = SITE "D22" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "F22" LEVEL 1;
COMP "SPI_SEN" LOCATE = SITE "H22" LEVEL 1;
COMP "GPIFII_D<0>" LOCATE = SITE "AB21" LEVEL 1;
COMP "GPIFII_D<1>" LOCATE = SITE "U14" LEVEL 1;
COMP "GPIFII_D<2>" LOCATE = SITE "U13" LEVEL 1;
COMP "GPIFII_D<3>" LOCATE = SITE "AA6" LEVEL 1;
COMP "GPIFII_D<4>" LOCATE = SITE "AB6" LEVEL 1;
COMP "GPIFII_D<5>" LOCATE = SITE "W4" LEVEL 1;
COMP "GPIFII_D<6>" LOCATE = SITE "Y4" LEVEL 1;
COMP "GPIFII_D<7>" LOCATE = SITE "Y7" LEVEL 1;
COMP "GPIFII_D<8>" LOCATE = SITE "AA2" LEVEL 1;
COMP "GPIFII_D<9>" LOCATE = SITE "AB2" LEVEL 1;
COMP "GPIFII_PCLK" LOCATE = SITE "W11" LEVEL 1;
COMP "COUNT_CLK_N" LOCATE = SITE "F8" LEVEL 1;
COMP "COUNT_CLK_P" LOCATE = SITE "E8" LEVEL 1;
COMP "GPIFII_D<10>" LOCATE = SITE "V15" LEVEL 1;
COMP "GPIFII_D<11>" LOCATE = SITE "AA18" LEVEL 1;
COMP "GPIFII_D<12>" LOCATE = SITE "AB18" LEVEL 1;
COMP "GPIFII_D<20>" LOCATE = SITE "T15" LEVEL 1;
COMP "GPIFII_D<13>" LOCATE = SITE "Y13" LEVEL 1;
COMP "GPIFII_D<21>" LOCATE = SITE "AB17" LEVEL 1;
COMP "GPIFII_D<14>" LOCATE = SITE "AA12" LEVEL 1;
COMP "GPIFII_D<22>" LOCATE = SITE "T16" LEVEL 1;
COMP "GPIFII_D<30>" LOCATE = SITE "T17" LEVEL 1;
COMP "GPIFII_D<15>" LOCATE = SITE "AB12" LEVEL 1;
COMP "GPIFII_D<23>" LOCATE = SITE "AB10" LEVEL 1;
COMP "GPIFII_D<31>" LOCATE = SITE "T18" LEVEL 1;
COMP "GPIFII_D<16>" LOCATE = SITE "AB15" LEVEL 1;
COMP "GPIFII_D<24>" LOCATE = SITE "V17" LEVEL 1;
COMP "GPIFII_D<17>" LOCATE = SITE "V9" LEVEL 1;
COMP "GPIFII_D<25>" LOCATE = SITE "AB14" LEVEL 1;
COMP "GPIFII_D<18>" LOCATE = SITE "AB16" LEVEL 1;
COMP "GPIFII_D<26>" LOCATE = SITE "Y15" LEVEL 1;
COMP "GPIFII_D<19>" LOCATE = SITE "AA16" LEVEL 1;
COMP "GPIFII_D<27>" LOCATE = SITE "Y18" LEVEL 1;
COMP "GPIFII_D<28>" LOCATE = SITE "W17" LEVEL 1;
COMP "GPIFII_D<29>" LOCATE = SITE "W18" LEVEL 1;
COMP "GPIFII_FLAGA" LOCATE = SITE "AA8" LEVEL 1;
COMP "GPIFII_FLAGB" LOCATE = SITE "AA14" LEVEL 1;
COMP "d_ref_vref_clamp_en" LOCATE = SITE "W20" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "W12" LEVEL 1;
COMP "d_count_en" LOCATE = SITE "D21" LEVEL 1;
COMP "RESET" LOCATE = SITE "R19" LEVEL 1;
COMP "d_comp_bias_sh" LOCATE = SITE "T21" LEVEL 1;
COMP "d_adr" LOCATE = SITE "P21" LEVEL 1;
COMP "d_ads" LOCATE = SITE "M21" LEVEL 1;
COMP "d_shr" LOCATE = SITE "L22" LEVEL 1;
COMP "d_shs" LOCATE = SITE "K21" LEVEL 1;
COMP "d_ref_vref_ramp_rst" LOCATE = SITE "N19" LEVEL 1;
COMP "d_comp_dyn_pon" LOCATE = SITE "V21" LEVEL 1;
COMP "GPIFII_SLCS_N" LOCATE = SITE "AB3" LEVEL 1;
COMP "GPIFII_SLOE_N" LOCATE = SITE "Y3" LEVEL 1;
COMP "GPIFII_SLRD_N" LOCATE = SITE "AB9" LEVEL 1;
COMP "GPIFII_SLWR_N" LOCATE = SITE "AB4" LEVEL 1;
COMP "d_count_jc_shift_en" LOCATE = SITE "T22" LEVEL 1;
COMP "SPI_DAC_A_SYNC" LOCATE = SITE "C14" LEVEL 1;
COMP "SPI_DAC_B_SYNC" LOCATE = SITE "C15" LEVEL 1;
COMP "d_digif_serial_rst" LOCATE = SITE "U19" LEVEL 1;
COMP "d_ref_vref_sh" LOCATE = SITE "M18" LEVEL 1;
COMP "SYNC_CLOCK" LOCATE = SITE "D19" LEVEL 1;
COMP "d_count_rst" LOCATE = SITE "D20" LEVEL 1;
COMP "GPIFII_EPSWITCH" LOCATE = SITE "Y17" LEVEL 1;
COMP "SPI_DAC_SDA" LOCATE = SITE "A15" LEVEL 1;
COMP "SPI_DAC_SCK" LOCATE = SITE "D14" LEVEL 1;
COMP "DEBUG_PIN" LOCATE = SITE "A2" LEVEL 1;
COMP "d_adc_shr_shs" LOCATE = SITE "K22" LEVEL 1;
COMP "GPIFII_PKTEND_N" LOCATE = SITE "AB8" LEVEL 1;
COMP "GPIFII_ADDR<0>" LOCATE = SITE "Y19" LEVEL 1;
COMP "GPIFII_ADDR<1>" LOCATE = SITE "Y9" LEVEL 1;
COMP "GPIFII_ADDR<2>" LOCATE = SITE "AA10" LEVEL 1;
COMP "GPIFII_ADDR<3>" LOCATE = SITE "V11" LEVEL 1;
COMP "GPIFII_ADDR<4>" LOCATE = SITE "AA21" LEVEL 1;
COMP "d_ref_vref_ramp_ota_dyn_pon" LOCATE = SITE "L19" LEVEL 1;
COMP "d_count_inc_one" LOCATE = SITE "V22" LEVEL 1;
COMP "d_count_inv_clk" LOCATE = SITE "E20" LEVEL 1;
COMP "d_count_lsb_clk" LOCATE = SITE "M22" LEVEL 1;
COMP "d_count_mem_wr" LOCATE = SITE "L20" LEVEL 1;
COMP "d_count_lsb_en" LOCATE = SITE "P22" LEVEL 1;
COMP "d_count_hold" LOCATE = SITE "G20" LEVEL 1;
COMP "d_count_updn" LOCATE = SITE "V20" LEVEL 1;
PIN PLL_250_INST/clkout1_buf_pin<1> = BEL "PLL_250_INST/clkout1_buf" PINNAME
        O;
PIN "PLL_250_INST/clkout1_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN PLL_250_INST/clkout2_buf_pin<1> = BEL "PLL_250_INST/clkout2_buf" PINNAME
        O;
PIN "PLL_250_INST/clkout2_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

