#|----------------------------------------------------------------------------------|
#| FPGA Bank Wiring for jcRampADDBSJ ADC Testchip board V.1.0.0                     |
#|----------------------------------------------------------------------------------|
#| Version P1A - Initial setup, Deyan Levski, deyan.levski@eng.ox.ac.uk, 20.10.2016 |
#|----------------------------------------------------------------------------------|
#|-+-|
#
# Main Clock & Reset
NET "CLOCK"			  		LOC = W12  |IOSTANDARD = LVCMOS33;
NET "RESET" 					LOC = R19  |IOSTANDARD = LVCMOS33;
NET "CLOCK" TNM_NET = "CLOCK";

TIMESPEC "TS_CLOCK" = PERIOD "CLOCK" 10 ns HIGH 50%;

#PIN "PLL_250_INST/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "PLL_250_INST/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#INST "PLL_DESER_INST/pll_base_inst/PLL_ADV" LOC = PLL_ADV_X0Y5;
#INST "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_2" LOC = BUFIO2_X3Y0;

## CHIP SPI BUS
NET SPI_SEN					LOC = V18  |IOSTANDARD = LVCMOS33;  
NET SPI_SCK					LOC = T14  |IOSTANDARD = LVCMOS33;  
NET SPI_SDA					LOC = R13  |IOSTANDARD = LVCMOS33;  

## VDAC SPI BUS
NET SPI_DAC_SCK					LOC = D6   |IOSTANDARD = LVCMOS33; # D6 # C5 for LF board
NET SPI_DAC_SDA					LOC = C6   |IOSTANDARD = LVCMOS33; # C6 # A5 for LF board
NET SPI_DAC_A_SYNC				LOC = H12  |IOSTANDARD = LVCMOS33; # H12 # C9 for LF board
NET SPI_DAC_B_SYNC				LOC = F12  |IOSTANDARD = LVCMOS33; # F12 # C8 for LF board
## GPIO
NET GPIO1					LOC = A13  |IOSTANDARD = LVCMOS33;
NET GPIO2					LOC = C13  |IOSTANDARD = LVCMOS33;
NET GPIO3					LOC = A14  |IOSTANDARD = LVCMOS33;
NET GPIO4					LOC = B14  |IOSTANDARD = LVCMOS33;
#NET GPIO5					LOC = H13  | IOSTANDARD = LVCMOS33; # used for UART RX-TX
#NET GPIO6					LOC = G13  | IOSTANDARD = LVCMOS33; # used for UART RX-TX
#NET DEBUG_PIN					LOC = A2   | IOSTANDARD = LVCMOS33;
#NET SYNC_CLOCK					LOC = D19  | IOSTANDARD = LVCMOS33;
## UART RX-TX
NET RX						LOC = H13  |IOSTANDARD = LVCMOS33; #H13 LF is T10
NET TX						LOC = G13  |IOSTANDARD = LVCMOS33; #G13 LF is U10

## Count Clock
NET COUNT_CLK_P					LOC = A11  |IOSTANDARD = LVDS_33; #MSB A11
NET COUNT_CLK_N					LOC = C11  |IOSTANDARD = LVDS_33; #MSB C11
## Digif CLock
NET SRX_P					LOC = C12  |IOSTANDARD = LVDS_33; #LSB C12
NET SRX_N					LOC = D11  |IOSTANDARD = LVDS_33; #LSB D11
## Counter Control
NET d_count_en					LOC = W13  |IOSTANDARD = LVCMOS33;
NET d_count_rst					LOC = Y6   |IOSTANDARD = LVCMOS33;
NET d_count_inv_clk				LOC = U8   |IOSTANDARD = LVCMOS33;
NET d_count_hold				LOC = T10  |IOSTANDARD = LVCMOS33;
NET d_count_updn				LOC = Y10  |IOSTANDARD = LVCMOS33;
NET d_count_inc_one				LOC = U10  |IOSTANDARD = LVCMOS33; 
NET d_count_jc_shift_en				LOC = T8   |IOSTANDARD = LVCMOS33;
NET d_count_lsb_en				LOC = W10  |IOSTANDARD = LVCMOS33;
NET d_count_lsb_clk				LOC = Y11  |IOSTANDARD = LVCMOS33;
NET d_count_mem_wr				LOC = T7   |IOSTANDARD = LVCMOS33;

## Sampling Control
#NET d_adc_shr_shs				LOC = K22  | IOSTANDARD = LVCMOS33;
NET d_shs					LOC = T12  |IOSTANDARD = LVCMOS33;
NET d_shr					LOC = V19  |IOSTANDARD = LVCMOS33;
NET d_ads					LOC = R7   |IOSTANDARD = LVCMOS33;
NET d_adr					LOC = U9   |IOSTANDARD = LVCMOS33;

## Comparator Control
NET d_comp_bias_sh				LOC = U12  |IOSTANDARD = LVCMOS33;
NET d_comp_dyn_pon				LOC = V13  |IOSTANDARD = LVCMOS33;

## References and Serializer
NET d_digif_serial_rst				LOC = AB11 |IOSTANDARD = LVCMOS33;
NET d_ref_vref_ramp_rst				LOC = U17  |IOSTANDARD = LVCMOS33;
NET d_ref_vref_sh				LOC = U16  |IOSTANDARD = LVCMOS33;
NET d_ref_vref_clamp_en				LOC = W14  |IOSTANDARD = LVCMOS33;
NET d_ref_vref_ramp_ota_dyn_pon			LOC = Y14  |IOSTANDARD = LVCMOS33;

## Row Driver and Pixel Bias
NET d_row_addr[0]				LOC = V5   |IOSTANDARD = LVCMOS33;
NET d_row_addr[1]				LOC = Y5   |IOSTANDARD = LVCMOS33;
NET d_row_addr[2]				LOC = AB5  |IOSTANDARD = LVCMOS33;
NET d_row_addr[3]				LOC = V7   |IOSTANDARD = LVCMOS33;
NET d_row_addr[4]				LOC = U6   |IOSTANDARD = LVCMOS33;
NET d_row_addr[5]				LOC = R8   |IOSTANDARD = LVCMOS33;
NET d_row_addr[6]				LOC = R9   |IOSTANDARD = LVCMOS33;
NET d_row_addr[7]				LOC = T11  |IOSTANDARD = LVCMOS33;
NET d_row_rs					LOC = W8   |IOSTANDARD = LVCMOS33;
NET d_row_rst					LOC = W9   |IOSTANDARD = LVCMOS33;
NET d_row_tx					LOC = Y8   |IOSTANDARD = LVCMOS33;
NET d_col_vln_sh				LOC = W6   |IOSTANDARD = LVCMOS33;

## Board Control
NET SHUTDOWN_VDD				LOC = W15  |IOSTANDARD = LVCMOS33;
NET SHUTDOWN_VDA				LOC = Y16  |IOSTANDARD = LVCMOS33;
NET SPI_ADC_CS					LOC = C7   |IOSTANDARD = LVCMOS33;
NET SPI_ADC_MOSI				LOC = A7   |IOSTANDARD = LVCMOS33;
NET SPI_ADC_CLK					LOC = C9   |IOSTANDARD = LVCMOS33;
NET SPI_ADC_MISO				LOC = A9   |IOSTANDARD = LVCMOS33;

## ADC groups serial data output
NET G0LTX_P					LOC = F13  |IOSTANDARD = LVDS_33; # F13 P19 inverted P/N due to PCB mixup
NET G0LTX_N					LOC = D13  |IOSTANDARD = LVDS_33; # D13 P20 inverted P/N due to PCB mixup
NET G0HTX_N					LOC = A15  |IOSTANDARD = LVDS_33; # A15 U22
NET G0HTX_P					LOC = C15  |IOSTANDARD = LVDS_33; # C15 U20
NET G1LTX_N					LOC = M16  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G1LTX_P					LOC = L15  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G1HTX_N					LOC = H18  |IOSTANDARD = LVDS_33;
NET G1HTX_P					LOC = H19  |IOSTANDARD = LVDS_33;
NET G2LTX_N					LOC = K17  |IOSTANDARD = LVDS_33;
NET G2LTX_P					LOC = J17  |IOSTANDARD = LVDS_33;
NET G2HTX_N					LOC = P17  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G2HTX_P					LOC = N16  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G3LTX_N					LOC = M17  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G3LTX_P					LOC = M18  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G3HTX_N					LOC = K18  |IOSTANDARD = LVDS_33;
NET G3HTX_P					LOC = L17  |IOSTANDARD = LVDS_33;
NET G4LTX_N					LOC = K16  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G4LTX_P					LOC = J16  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G4HTX_N					LOC = V21  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G4HTX_P					LOC = V22  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G5LTX_N					LOC = T21  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G5LTX_P					LOC = T22  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G5HTX_N					LOC = P21  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G5HTX_P					LOC = P22  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G6LTX_N					LOC = M21  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G6LTX_P					LOC = M22  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G6HTX_N					LOC = L22  |IOSTANDARD = LVDS_33;
NET G6HTX_P					LOC = L20  |IOSTANDARD = LVDS_33;
NET G7LTX_N					LOC = K21  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G7LTX_P					LOC = K22  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G7HTX_N					LOC = F21  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
NET G7HTX_P					LOC = F22  |IOSTANDARD = LVDS_33; # inverted P/N due to PCB mixup
# FX3 GPIFII Interface
NET GPIFII_PCLK       				LOC = W11  |IOSTANDARD = LVCMOS33;
NET GPIFII_PCLK_IN	   			LOC = Y12  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[0]					LOC = AB21 |IOSTANDARD = LVCMOS33;
NET GPIFII_D[1]					LOC = U14  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[2]					LOC = U13  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[3]					LOC = AA6  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[4]					LOC = AB6  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[5]					LOC = W4   |IOSTANDARD = LVCMOS33;
NET GPIFII_D[6]					LOC = Y4   |IOSTANDARD = LVCMOS33;
NET GPIFII_D[7]					LOC = Y7   |IOSTANDARD = LVCMOS33;
NET GPIFII_D[8]					LOC = AA2  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[9]					LOC = AB2  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[10]				LOC = V15  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[11]				LOC = AA18 |IOSTANDARD = LVCMOS33;
NET GPIFII_D[12]				LOC = AB18 |IOSTANDARD = LVCMOS33;
NET GPIFII_D[13]				LOC = Y13  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[14]				LOC = AA12 |IOSTANDARD = LVCMOS33;
NET GPIFII_D[15]				LOC = AB12 |IOSTANDARD = LVCMOS33;
NET GPIFII_D[16]				LOC = AB15 |IOSTANDARD = LVCMOS33;
NET GPIFII_D[17]				LOC = V9   |IOSTANDARD = LVCMOS33;
NET GPIFII_D[18]				LOC = AB16 |IOSTANDARD = LVCMOS33;
NET GPIFII_D[19]				LOC = AA16 |IOSTANDARD = LVCMOS33;
NET GPIFII_D[20]				LOC = T15  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[21]				LOC = AB17 |IOSTANDARD = LVCMOS33;
NET GPIFII_D[22]				LOC = T16  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[23]				LOC = AB10 |IOSTANDARD = LVCMOS33;
NET GPIFII_D[24]				LOC = V17  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[25]				LOC = AB14 |IOSTANDARD = LVCMOS33;
NET GPIFII_D[26]				LOC = Y15  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[27]				LOC = Y18  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[28]				LOC = W17  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[29]				LOC = W18  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[30]				LOC = T17  |IOSTANDARD = LVCMOS33;
NET GPIFII_D[31]				LOC = T18  |IOSTANDARD = LVCMOS33;
NET GPIFII_ADDR[0]				LOC = Y19  |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(12) = GPIO29
NET GPIFII_ADDR[1]				LOC = Y9   |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(11) = GPIO28
NET GPIFII_ADDR[2]				LOC = AA10 |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(10) = GPIO27
NET GPIFII_ADDR[3]				LOC = V11  |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(9)	= GPIO26
NET GPIFII_ADDR[4]				LOC = AA21 |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(8)	= GPIO25
NET GPIFII_SLCS_N				LOC = AB3  |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(0)	= GPIO17 o.k.
NET GPIFII_SLOE_N				LOC = Y3   |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(2)	= GPIO19 o.k.
NET GPIFII_SLRD_N				LOC = AB9  |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(3)	= GPIO20 o.k.
NET GPIFII_SLWR_N				LOC = AB4  |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(1)	= GPIO18 o.k.
NET GPIFII_PKTEND_N				LOC = AB8  |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(7)	= GPIO24 o.k.
NET GPIFII_FLAGA				LOC = AA8  |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(4)	= GPIO21 o.k.
NET GPIFII_FLAGB				LOC = AA14 |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(5)	= GPIO22 o.k.
NET GPIFII_EPSWITCH				LOC = Y17  |IOSTANDARD = LVCMOS33;  # GPIFII_CTL(6)	= GPIO23 vorher: GPIFII_FLAG

#NET "DIGIF_INST/LSB_SDA_FALL" TNM_NET = DIGIF_INST/LSB_SDA_FALL;
#TIMESPEC TS_DIGIF_INST_LSB_SDA_FALL = PERIOD "DIGIF_INST/LSB_SDA_FALL" TS_CLOCK_DESER_1BIT HIGH 50%;
#NET "DIGIF_INST/LSB_SDA_RISE" TNM_NET = DIGIF_INST/LSB_SDA_RISE;
#TIMESPEC TS_DIGIF_INST_LSB_SDA_RISE = PERIOD "DIGIF_INST/LSB_SDA_RISE" TS_CLOCK_DESER_1BIT HIGH 50%;
#NET "DIGIF_INST/MSB_SDA_FALL" TNM_NET = DIGIF_INST/MSB_SDA_FALL;
#TIMESPEC TS_DIGIF_INST_MSB_SDA_FALL = PERIOD "DIGIF_INST/MSB_SDA_FALL" TS_CLOCK_DESER_1BIT HIGH 50%;
#NET "DIGIF_INST/MSB_SDA_RISE" TNM_NET = DIGIF_INST/MSB_SDA_RISE;
#TIMESPEC TS_DIGIF_INST_MSB_SDA_RISE = PERIOD "DIGIF_INST/MSB_SDA_RISE" TS_CLOCK_DESER_1BIT HIGH 50%;
#NET "DIGIF_INST/mux_sck_fall" TNM_NET = DIGIF_INST/mux_sck_fall;
#TIMESPEC TS_DIGIF_INST_mux_sck_fall = PERIOD "DIGIF_INST/mux_sck_fall" TS_CLOCK_DESER_1BIT HIGH 50%;
#NET "DIGIF_INST/mux_sck_rise" TNM_NET = DIGIF_INST/mux_sck_rise;
#TIMESPEC TS_DIGIF_INST_mux_sck_rise = PERIOD "DIGIF_INST/mux_sck_rise" TS_CLOCK_DESER_1BIT HIGH 50%;
