# Main Clock & Reset
NET "CLOCK" 					LOC=W12 | IOSTANDARD = LVCMOS33;
NET "RESET" 					LOC=R19 | IOSTANDARD = LVCMOS33;
TIMESPEC TS_CLOCK = PERIOD "CLOCK" 10 ns HIGH 50%;

PIN "PLL_250_INST/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "PLL_250_INST/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

## SPI CHIP BUS
NET SPI_SEN					LOC = H22 | IOSTANDARD = LVCMOS33;  
NET SPI_SCK					LOC = F22 | IOSTANDARD = LVCMOS33;  
NET SPI_SDA					LOC = D22 | IOSTANDARD = LVCMOS33;  
## SPI DAC BUS
NET SPI_DAC_SCK					LOC = D14 | IOSTANDARD = LVCMOS33;
NET SPI_DAC_SDA					LOC = A15 | IOSTANDARD = LVCMOS33;
NET SPI_DAC_A_SYNC				LOC = C14 | IOSTANDARD = LVCMOS33;
NET SPI_DAC_B_SYNC				LOC = C15 | IOSTANDARD = LVCMOS33;

## Debug Pins
NET DEBUG_PIN					LOC = A2  | IOSTANDARD=LVCMOS33;
NET SYNC_CLOCK					LOC = D19  | IOSTANDARD=LVCMOS33;

## UART RX-TX
NET RX						LOC=E22  |  IOSTANDARD=LVCMOS33;
NET TX						LOC=G22  |  IOSTANDARD=LVCMOS33;

## Count Clock
NET COUNT_CLK_P					LOC=E8	 |  IOSTANDARD=LVDS_33;
NET COUNT_CLK_N					LOC=F8	 |  IOSTANDARD=LVDS_33;

## Counter Control
NET d_count_en					LOC = D21  | IOSTANDARD = LVCMOS33; 
NET d_count_rst					LOC = D20  | IOSTANDARD = LVCMOS33; 
NET d_count_inv_clk				LOC = E20  | IOSTANDARD = LVCMOS33; 
NET d_count_hold				LOC = G20  | IOSTANDARD = LVCMOS33; 
NET d_count_updn				LOC = V20  | IOSTANDARD = LVCMOS33; 
NET d_count_inc_one				LOC = V22   | IOSTANDARD = LVCMOS33;  
NET d_count_jc_shift_en				LOC = T22 | IOSTANDARD = LVCMOS33;
NET d_count_lsb_en				LOC = P22 | IOSTANDARD = LVCMOS33;
NET d_count_lsb_clk				LOC = M22 | IOSTANDARD = LVCMOS33;
NET d_count_mem_wr				LOC = L20 | IOSTANDARD = LVCMOS33;

## Sampling Control
NET d_adc_shr_shs				LOC = K22 | IOSTANDARD = LVCMOS33;
NET d_shs					LOC = K21 | IOSTANDARD = LVCMOS33;
NET d_shr					LOC = L22 | IOSTANDARD = LVCMOS33;
NET d_ads					LOC = M21 | IOSTANDARD = LVCMOS33;
NET d_adr					LOC = P21 | IOSTANDARD = LVCMOS33;

## Comparator Control
NET d_comp_bias_sh				LOC = T21 | IOSTANDARD = LVCMOS33;
NET d_comp_dyn_pon				LOC = V21 | IOSTANDARD = LVCMOS33;

## References and Serializer
NET d_digif_serial_rst				LOC = U19 | IOSTANDARD = LVCMOS33;
NET d_ref_vref_ramp_rst				LOC = N19 | IOSTANDARD = LVCMOS33;
NET d_ref_vref_sh				LOC = M18 | IOSTANDARD = LVCMOS33;
NET d_ref_vref_clamp_en				LOC = W20 | IOSTANDARD = LVCMOS33;
NET d_ref_vref_ramp_ota_dyn_pon			LOC = L19  | IOSTANDARD = LVCMOS33;



# FX3 GPIFII Interface
NET GPIFII_PCLK       LOC = W11  | IOSTANDARD = LVCMOS33;
#NET GPIFII_PCLK_OUT	   LOC = W11  | IOSTANDARD = LVCMOS33;
#NET GPIFII_PCLK_IN	   LOC = Y12  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[0]		  LOC = AB21 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[1]		  LOC = U14  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[2]		  LOC = U13  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[3]		  LOC = AA6  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[4]		  LOC = AB6  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[5]		  LOC = W4   | IOSTANDARD = LVCMOS33;
NET GPIFII_D[6]		  LOC = Y4   | IOSTANDARD = LVCMOS33;
NET GPIFII_D[7]		  LOC = Y7   | IOSTANDARD = LVCMOS33;
NET GPIFII_D[8]		  LOC = AA2  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[9]		  LOC = AB2  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[10]	  LOC = V15  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[11]	  LOC = AA18 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[12]	  LOC = AB18 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[13]	  LOC = Y13  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[14]	  LOC = AA12 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[15]	  LOC = AB12 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[16]	  LOC = AB15 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[17]	  LOC = V9   | IOSTANDARD = LVCMOS33;
NET GPIFII_D[18]	  LOC = AB16 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[19]	  LOC = AA16 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[20]	  LOC = T15  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[21]	  LOC = AB17 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[22]	  LOC = T16  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[23]	  LOC = AB10 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[24]	  LOC = V17  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[25]	  LOC = AB14 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[26]	  LOC = Y15  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[27]	  LOC = Y18  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[28]	  LOC = W17  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[29]	  LOC = W18  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[30]	  LOC = T17  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[31]	  LOC = T18  | IOSTANDARD = LVCMOS33;
NET GPIFII_ADDR[0]	  LOC = Y19  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(12) = GPIO29
NET GPIFII_ADDR[1]	  LOC = Y9   | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(11) = GPIO28
NET GPIFII_ADDR[2]	  LOC = AA10 | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(10) = GPIO27
NET GPIFII_ADDR[3]	  LOC = V11  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(9)	= GPIO26
NET GPIFII_ADDR[4]	  LOC = AA21 | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(8)	= GPIO25
NET GPIFII_SLCS_N	  LOC = AB3  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(0)	= GPIO17 o.k.
NET GPIFII_SLOE_N	  LOC = Y3   | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(2)	= GPIO19 o.k.
NET GPIFII_SLRD_N	  LOC = AB9  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(3)	= GPIO20 o.k.
NET GPIFII_SLWR_N	  LOC = AB4  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(1)	= GPIO18 o.k.
NET GPIFII_PKTEND_N	  LOC = AB8  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(7)	= GPIO24 o.k.
NET GPIFII_FLAGA	  LOC = AA8  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(4)	= GPIO21 o.k.
NET GPIFII_FLAGB	  LOC = AA14 | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(5)	= GPIO22 o.k.
NET GPIFII_EPSWITCH	  LOC = Y17  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(6)	= GPIO23 vorher: GPIFII_FLAG

