//! **************************************************************************
// Written by: Map P.58f on Tue Oct 04 13:39:46 2016
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "A2" LEVEL 1;
SCHEMATIC END;

