NET "CLOCK" LOC=W12 | IOSTANDARD = LVCMOS33;
NET "RESET" LOC=R19 | IOSTANDARD = LVCMOS33;
TIMESPEC TS_CLOCK = PERIOD "CLOCK" 10 ns HIGH 50%;

NET "LED"   LOC = A2 | IOSTANDARD = LVCMOS33;


# FX3 GPIFII Interface
NET GPIFII_PCLK       LOC = W11  | IOSTANDARD = LVCMOS33;
#NET GPIFII_PCLK_OUT       LOC = W11  | IOSTANDARD = LVCMOS33;
#NET GPIFII_PCLK_IN        LOC = Y12  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[0]           LOC = AB21 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[1]           LOC = U14  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[2]           LOC = U13  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[3]           LOC = AA6  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[4]           LOC = AB6  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[5]           LOC = W4   | IOSTANDARD = LVCMOS33;
NET GPIFII_D[6]           LOC = Y4   | IOSTANDARD = LVCMOS33;
NET GPIFII_D[7]           LOC = Y7   | IOSTANDARD = LVCMOS33;
NET GPIFII_D[8]           LOC = AA2  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[9]           LOC = AB2  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[10]          LOC = V15  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[11]          LOC = AA18 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[12]          LOC = AB18 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[13]          LOC = Y13  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[14]          LOC = AA12 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[15]          LOC = AB12 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[16]          LOC = AB15 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[17]          LOC = V9   | IOSTANDARD = LVCMOS33;
NET GPIFII_D[18]          LOC = AB16 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[19]          LOC = AA16 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[20]          LOC = T15  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[21]          LOC = AB17 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[22]          LOC = T16  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[23]          LOC = AB10 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[24]          LOC = V17  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[25]          LOC = AB14 | IOSTANDARD = LVCMOS33;
NET GPIFII_D[26]          LOC = Y15  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[27]          LOC = Y18  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[28]          LOC = W17  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[29]          LOC = W18  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[30]          LOC = T17  | IOSTANDARD = LVCMOS33;
NET GPIFII_D[31]          LOC = T18  | IOSTANDARD = LVCMOS33;
NET GPIFII_ADDR[0]        LOC = Y19  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(12) = GPIO29
NET GPIFII_ADDR[1]        LOC = Y9   | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(11) = GPIO28
NET GPIFII_ADDR[2]        LOC = AA10 | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(10) = GPIO27
NET GPIFII_ADDR[3]        LOC = V11  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(9)  = GPIO26
NET GPIFII_ADDR[4]        LOC = AA21 | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(8)  = GPIO25
NET GPIFII_SLCS_N         LOC = AB3  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(0)  = GPIO17 o.k.
NET GPIFII_SLOE_N         LOC = Y3   | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(2)  = GPIO19 o.k.
NET GPIFII_SLRD_N         LOC = AB9  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(3)  = GPIO20 o.k.
NET GPIFII_SLWR_N         LOC = AB4  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(1)  = GPIO18 o.k.
NET GPIFII_PKTEND_N       LOC = AB8  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(7)  = GPIO24 o.k.
NET GPIFII_FLAGA          LOC = AA8  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(4)  = GPIO21 o.k.
NET GPIFII_FLAGB          LOC = AA14 | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(5)  = GPIO22 o.k.
NET GPIFII_EPSWITCH       LOC = Y17  | IOSTANDARD = LVCMOS33;  # GPIFII_CTL(6)  = GPIO23 vorher: GPIFII_FLAG
