//! **************************************************************************
// Written by: Map P.58f on Wed Oct 05 12:06:18 2016
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "A2" LEVEL 1;
COMP "GPIFII_D<0>" LOCATE = SITE "AB21" LEVEL 1;
COMP "GPIFII_D<1>" LOCATE = SITE "U14" LEVEL 1;
COMP "GPIFII_D<2>" LOCATE = SITE "U13" LEVEL 1;
COMP "GPIFII_D<3>" LOCATE = SITE "AA6" LEVEL 1;
COMP "GPIFII_D<4>" LOCATE = SITE "AB6" LEVEL 1;
COMP "GPIFII_D<5>" LOCATE = SITE "W4" LEVEL 1;
COMP "GPIFII_D<6>" LOCATE = SITE "Y4" LEVEL 1;
COMP "GPIFII_D<7>" LOCATE = SITE "Y7" LEVEL 1;
COMP "GPIFII_D<8>" LOCATE = SITE "AA2" LEVEL 1;
COMP "GPIFII_D<9>" LOCATE = SITE "AB2" LEVEL 1;
COMP "GPIFII_PCLK" LOCATE = SITE "W11" LEVEL 1;
COMP "GPIFII_D<10>" LOCATE = SITE "V15" LEVEL 1;
COMP "GPIFII_D<11>" LOCATE = SITE "AA18" LEVEL 1;
COMP "GPIFII_D<12>" LOCATE = SITE "AB18" LEVEL 1;
COMP "GPIFII_D<20>" LOCATE = SITE "T15" LEVEL 1;
COMP "GPIFII_D<13>" LOCATE = SITE "Y13" LEVEL 1;
COMP "GPIFII_D<21>" LOCATE = SITE "AB17" LEVEL 1;
COMP "GPIFII_D<14>" LOCATE = SITE "AA12" LEVEL 1;
COMP "GPIFII_D<22>" LOCATE = SITE "T16" LEVEL 1;
COMP "GPIFII_D<30>" LOCATE = SITE "T17" LEVEL 1;
COMP "GPIFII_D<15>" LOCATE = SITE "AB12" LEVEL 1;
COMP "GPIFII_D<23>" LOCATE = SITE "AB10" LEVEL 1;
COMP "GPIFII_D<31>" LOCATE = SITE "T18" LEVEL 1;
COMP "GPIFII_D<16>" LOCATE = SITE "AB15" LEVEL 1;
COMP "GPIFII_D<24>" LOCATE = SITE "V17" LEVEL 1;
COMP "GPIFII_D<17>" LOCATE = SITE "V9" LEVEL 1;
COMP "GPIFII_D<25>" LOCATE = SITE "AB14" LEVEL 1;
COMP "GPIFII_D<18>" LOCATE = SITE "AB16" LEVEL 1;
COMP "GPIFII_D<26>" LOCATE = SITE "Y15" LEVEL 1;
COMP "GPIFII_D<19>" LOCATE = SITE "AA16" LEVEL 1;
COMP "GPIFII_D<27>" LOCATE = SITE "Y18" LEVEL 1;
COMP "GPIFII_D<28>" LOCATE = SITE "W17" LEVEL 1;
COMP "GPIFII_D<29>" LOCATE = SITE "W18" LEVEL 1;
COMP "GPIFII_FLAGA" LOCATE = SITE "AA8" LEVEL 1;
COMP "GPIFII_FLAGB" LOCATE = SITE "AA14" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "W12" LEVEL 1;
COMP "RESET" LOCATE = SITE "R19" LEVEL 1;
COMP "GPIFII_SLCS_N" LOCATE = SITE "AB3" LEVEL 1;
COMP "GPIFII_SLOE_N" LOCATE = SITE "Y3" LEVEL 1;
COMP "GPIFII_SLRD_N" LOCATE = SITE "AB9" LEVEL 1;
COMP "GPIFII_SLWR_N" LOCATE = SITE "AB4" LEVEL 1;
COMP "GPIFII_EPSWITCH" LOCATE = SITE "Y17" LEVEL 1;
COMP "GPIFII_PKTEND_N" LOCATE = SITE "AB8" LEVEL 1;
COMP "GPIFII_ADDR<0>" LOCATE = SITE "Y19" LEVEL 1;
COMP "GPIFII_ADDR<1>" LOCATE = SITE "Y9" LEVEL 1;
COMP "GPIFII_ADDR<2>" LOCATE = SITE "AA10" LEVEL 1;
COMP "GPIFII_ADDR<3>" LOCATE = SITE "V11" LEVEL 1;
COMP "GPIFII_ADDR<4>" LOCATE = SITE "AA21" LEVEL 1;
SCHEMATIC END;

