//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 06 16:32:05 2016
//! **************************************************************************

SCHEMATIC START;
COMP "SPI_SEN" LOCATE = SITE "N14" LEVEL 1;
COMP "SPI_SDA" LOCATE = SITE "M14" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "L15" LEVEL 1;
COMP "RESET" LOCATE = SITE "P3" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "U18" LEVEL 1;
SCHEMATIC END;

